<div class="container">
  <div>
    <p>画像URLか画像ファイルを指定してアップロードしてください</p>
    <p>※画像URLの指定が優先されます</p>
    <p>※画像URL指定の場合は .jpg, .png, .gif の画像をお使いください</p>
    <% @new_image.errors.full_messages.each do |message| %>
      <p class="alert"><%= message %></p>
    <% end %>
    <%= form_for(@new_image) do |f| %>
      <div>
        <div class="form-group">
          <div class="form-group">
            <label>画像URL</label>
            <div>
              <%= f.text_field :url, class: "form-condivol" %>
            </div>
          </div>
          <label>画像</label>
          <div>
            <%= f.file_field :image, class: "form-condivol" %>
          </div>
        </div>
        <div class="form-group">
          <label>説明</label>
          <div>
            <%= f.text_field :description, length: 40, class: "form-condivol", placeholder: "ていうかもう寝よう" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "Upload!", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
