<!DOCTYPE html>
<html>
<head>
  <title>Kiramemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1><%= link_to "キラメモ", controller: :stamps, action: :top %></h1>
      <div class="global-search-form">
        <%= form_tag({controller: :stamps, action: :index}, method: :get) do %>
          <%= text_field_tag :q, nil, width: 40 %>
          <%= submit_tag "検索" %>
        <% end %>
      </div>
      <button class="btn header-upload"><%= link_to "Upload", controller: :stamps, action: :new %></button>
    </div>
    <%= yield %>
  </div>
</body>
</html>
